body{
    font-family: 'Bellota', cursive;
    font-family: 'Merriweather', serif;
    margin: 0;  
}
.h2{
    color:orange;
}

 .h1{
    font-size:40px;
    font-weight:bold;
}
.h2{
    font-size:40px;
    font-weight:bold;
}
p{
    word-wrap: 20;
}
.header{
    display:flex;
}
.person{
    margin-right: 150px; 

}
.mission-border{
    margin-top:70px;
    box-sizing: content-box;
    border-width: 5px;
    padding-left:10px;
    border-left-style: solid;
    border-left-color: hsl(16, 78%, 39%);
}
.container{
    
    padding-left: 20px;
    margin-left: 100px;
    margin-top: 40px;
    border-left-color: rgb(38, 0, 255);
}
.container{
    display: inline-block;
    vertical-align: top;
}

.mission-content{
    display:flex;
    
}
.explore-button{
    background-color: rgb(241, 95, 10);
    color: white ;
    width: 120px;
    padding: 15px;
    border-radius:15px;
}
.documentation-button{
    background-color: rgb(241, 95, 10);
    color: white ;
    width: 200px;
    padding: 20px;
    border-radius:15px;
}
.mission{
    
    text-align: center;
    font-size: 40px;
}
.middle-section{
    margin-top:80px;
    margin-left: 85px;
    margin-right: 85px;
}
.illustrator{
    
    margin:20px ;
    padding: 30px;
    border-radius:20px;
    
    height: 300px;
    width: 400px;
    margin-top:50px;
}
.cardinal{
    
    background-color: #CA2253;
}
.salmon{
  
    background-color: #ff5456;
}
.sweet-pink{
    background-color: #ED978D;
}

.coding-section{
    display:flex;
}
.parent{
    position: relative;
}
.over-img{
    position: absolute;
    top: -10%;
    left: 35%;
}
.develop{
    margin: 100px;
}
.coding{
    margin-left: 400px;
}
.parent-two{
    position: relative;
    margin-top: 200px;
    margin-right: 120px;
    padding:20px;
}
.over-img-two{
    position: absolute;
    top: -70%;
    right: 40%;
}
.project-section{
    display:flex;
}
.community-section{
    margin: 100px;
    margin-top: 200px;
    
}
.project{
    margin-right: 350px;
}

.work-head{
    text-align: center;
}
hr.new4 {
    border: 1px solid red;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
   
    height: 120px;
    text-align: center;
  }
  .work-list{
      margin-top:50px;
      margin-left:300px;
  }
li{
 text-decoration: none;
 margin-left: 100px;
}
.list-item-one{

    background-color: orangered;
    height: 30px;
    width: 120px;
    padding-top:10px;
    border: 2px;
    border-radius: 15px;

}
.list-item-two{
    background-color: grey;
    height: 30px;
    width: 120px;
    padding-top:10px;
    border: 2px;
    border-radius: 15px;

}
li a{
text-decoration: none;
}
.grid{
    display: flex;
}
.footer-part{
    font-size:20px;
    color:white;
    text-align: center;
    height:150px;
    width:100%;
    background-color: black;
    margin-top:200px;
    padding: 10px;

}






  